/**
 * @brief structure 
 */

body .infinitas_docs {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

.infinitas_docs {
	clear: both;
}

.infinitas_docs.footer {
	clear: both;
}

.infinitas_docs div.plugins {
	width: 33%;
	float: left;
}

.infinitas_docs a>img {
	width: 200px;
}

.infinitas_docs .center {
	margin: auto;
	clear: both;
}

/**
 * @brief headings
 */
.infinitas_docs h1,
.infinitas_docs h2,
.infinitas_docs h3,
.infinitas_docs h4,
.infinitas_docs h5,
.infinitas_docs h6 {
	margin: 10px 0;
	font-family: inherit;
	font-weight: bold;
	line-height: 1;
	color: inherit;
	text-rendering: optimizelegibility;
}

.infinitas_docs h1,
.infinitas_docs h2,
.infinitas_docs h3 {
	line-height: 40px;
}

.infinitas_docs h4,
.infinitas_docs h5,
.infinitas_docs h6 {
	line-height: 20px;
}

.infinitas_docs h1 {
	font-size: 30px;
}

.infinitas_docs h2 {
	font-size: 25px;
}

.infinitas_docs h3 {
	font-size: 20px;
}

.infinitas_docs h4 {
	font-size: 16px;
}

.infinitas_docs h5 {
	font-size: 14px;
}

/**
 * @brief paragraphs
 */
.infinitas_docs p {
	margin: 0 0 10px;
}

/**
 * @brief links
 */
.infinitas_docs a {
	color: #08C;
	text-decoration: none;
}

.infinitas_docs a:hover {
  color: #005580;
  text-decoration: underline;
}

/**
 * @brief blockquote
 */
.infinitas_docs blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 20px;
	border-left: 5px solid #EEE;
}

.infinitas_docs blockquote::before, 
.infinitas_docs blockquote::after {
	content: "";
}


/**
 * @brief pre / code tags from bootstrap
 */
.infinitas_docs code,
.infinitas_docs pre {
	padding: 0 3px 2px;
	font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
	font-size: 12px;
	color: #333;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.infinitas_docs code {
	padding: 2px 4px;
	color: #D14;
	background-color: #F7F7F9;
	border: 1px solid #E1E1E8;
}

.infinitas_docs pre {
	display: block;
	padding: 9.5px;
	margin: 0 0 10px;
	font-size: 13px;
	line-height: 20px;
	word-break: break-all;
	word-wrap: break-word;
	white-space: pre;
	white-space: pre-wrap;
	background-color: whiteSmoke;
	border: 1px solid #CCC;
	border: 1px solid rgba(0, 0, 0, 0.15);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.infinitas_docs pre code {
	padding: 0;
	color: inherit;
	background-color: transparent;
	border: 0;
}