/**
 * @brief structure
 */

body .infinitas_docs {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #333;
}

.infinitas_docs {
	clear: both;
}

.infinitas_docs.footer {
	clear: both;
}

.infinitas_docs div.plugins {
	width: 33%;
	float: left;
}

.infinitas_docs a>img {
	width: 200px;
}
.infinitas_docs.contributors {
	clear: both;
}
.infinitas_docs.contributors div.contributor {
	float: left;
	margin: 10px;
}
.infinitas_docs.contributors a>img {
	width: 80px;
}

.infinitas_docs .center {
	margin: auto;
	clear: both;
}